
*
{
  box-sizing: border-box;
}




/* Start here */

.navbar
{ width: 100vw;
  height:50px;
  position: fixed;
  top: 0px;
  left:0px;
  background-color: white;
  box-shadow: 3px 3px 4px #737373;
  z-index: 100;
}

.title
{
  font-family: quicksand, sans-serif;
  font-size:30px;
  position: fixed;
  top: 5px;
  left: 20px;

}

.cart
{
  font-family: quicksand, sans-serif;
  font-size:15px;
  position: fixed;
  top: 20px;
  right: 10%;

}

.socialmediaicons img
{
  max-width: 20px;

}

.socialmediaicons
{
  position: fixed;
  top: 18px;
  right:3%;

}


/*body css*/

.body{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}





.container
{
  position: absolute;
  top:5vh;
  left:0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.poster{
 flex:0 0 100%;
}



.containerpicture
{
  max-width:100%;
}

.posterinfor
{
  font-family: quicksand, sans-serif;
  font-weight: lighter;
  font-size: 160%;
  color: white;
  position: absolute;
  top:30vh;
  right: 10vw;
  text-align: center;
  line-height: 130%;

}

.shopicon{
  max-width: 40%;
}



.example
{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
  position: absolute;
  top: 72vh;
}

.porcelain
{
  flex:0 0 33.333%;
}

.fabric
{
  flex:0 0 33.333%;
}

.paper
{
  flex:0 0 33.333%;
}

.example img
{
  max-width: 100%;
}








/*intro*/

.intro img
{
  max-width: 45%;
}

.intro
{
  width: 100vw;
  height: 26vh;
  background-color: #a71a2a;
  position: absolute;
  top:139vh;
  margin-bottom: 1vh;
  font-family: quicksand, sans-serif;
  font-size: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  padding:2%;
}

.generate
{
  flex:0 0 15%;
}

.upload
{
  flex:0 0 15%;
}

.choose
{
  flex:0 0 15%;
}

.setup
{
  flex:0 0 15%;
}

.delivery
{
  flex:0 0 15%;
}


.processicon
{

}


/*information section*/

.infor
{
  width: 100vw;
  height: 15vh;
  position: absolute;
  top:170vh;
  font-family: Quicksand, sans-serif;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
  text-align: left;
  margin-bottom: 8%;
  padding-left:5%;
}



.title1
{
  font-size:100%;
}
.subtitle
{
  font-size: 80%;
  color:rgba(0, 0, 0, 0.65);
}



.shop
{
  flex:0 0 25%;
}

.template
{
    flex:0 0 25%;
}

.newsletter
{
    flex:0 0 25%;
}
.line
{
  line-height: 140%;
}

.address
{
    flex:0 0 25%;
}

.email
{ width: 62%;
  font-family: quicksand ,sans-serif;
  font-size: 60%;
  color:rgba(0, 0, 0, 0.5 );
}







/*Css*/
