
*
{
  box-sizing: border-box;
}



/* Start here */

.navbar
{ width: 100vw;
  height:5vh;
  position: fixed;
  top: 0px;
  left:0px;
  background-color: white;
  box-shadow: 3px 3px 4px #737373;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  opacity: 0.8;
}

.title
{
  font-family: 'quicksand', sans-serif;
  font-size:170%;
  flex:0 0 79%;
  margin-left: 1.5%;
}

.uploadbutton
{
  font-family: 'quicksand', sans-serif;
  font-size:110%;
  border: 1px solid black;
  border-radius: 3px;
  flex:0 0 7%;
  text-align: center;
  margin-right: 2%;
}

.socialmediaicons img
{
  max-width: 16%;
}

.socialmediaicons
{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex:0 0 10%;
}

.flex10
{
  flex:0 0 30%;
}











/*porcelain paper fabric samples*/

.example {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin: 5%;
  padding-left: 8%;
  padding-right:8%;
}

.stamp1 {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: 1s ease;
  cursor: pointer;
}

.stamp1:hover {
  opacity: 1;
}

.stamp2 {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: 1s ease;
  cursor: pointer;
}

.stamp2:hover {
  opacity: 1;
}

.stamp3 {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: 1s ease;
  cursor: pointer;
}

.stamp3:hover {
  opacity: 1;
}










.sample1
{
  border-radius: 1%;
}

.sample2
{
  border-radius: 1%;

}

.sample3
{
  border-radius: 1%;

}

.porcelain
{
  flex: 0 0 32%;
  position: relative;
  margin-left: 2%;

}

.fabric
{
  flex: 0 0 32%;
  position: relative;

}

.paper
{
  flex: 0 0 32%;
  position: relative;

}

.example img
{
  max-width: 90%;
}



/*qrcodetemplate*/





.slidertitle{

  color:black;
  font-family: 'Anton', sans-serif;
  font-size: 200%;

}




.qrcodetemplate
{
  margin-top:8vh;
  text-align: center;
  margin-bottom: 1%;

}

.qr1
{

  font-family: quicksand,sans-serif;
  font-weight: bolder;
  font-size: 160%;
  margin-bottom: 1.5vh;
  background-color: rgb(241, 115, 12);
  margin-left:17%;
  margin-right: 17%;
  border-radius: 4px;
}
.qr2
{
  font-family: quicksand,sans-serif;
  font-weight: 300;
  font-size: 100%;
  margin-top: 1vh;
}



.qrcodetemplate1
{
  margin-top:8vh;
  text-align: center;
  margin-bottom: 1%;

}


.qr11
{
  font-family: quicksand,sans-serif;
  font-weight: bolder;
  font-size: 160%;
  margin-bottom: 1.5vh;
  background-color: rgba(232, 16, 49, 1);
  margin-left:17%;
  margin-right: 17%;
  border-radius: 5px;
}
.qr22
{
  font-family: quicksand,sans-serif;
  font-weight: 300;
  font-size: 100%;
  margin-top: 1vh;

}











/*product*/









/*information section*/

.infor
{
  width: 100vw;
  height: 22vh;
  font-family: Quicksand, sans-serif;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
  text-align: left;

  padding-top: 1%;
  padding-left:17%;
  padding-right:5%;
  margin-bottom: 17vh;

}

.title1
{
  font-size:100%;
}
.subtitle
{
  font-size: 80%;
  color:rgba(0, 0, 0, 0.65);
}


.shop
{
  flex:0 0 25%;
}

.template
{
    flex:0 0 25%;
}

.newsletter
{
    flex:0 0 25%;
}
.line
{
  line-height: 140%;
}

.address
{
    flex:0 0 25%;
}

.email
{ width: 62%;
  font-family: quicksand ,sans-serif;
  font-size: 60%;
  color:rgba(0, 0, 0, 0.5 );
}








/*intro*/

.intro img
{
  max-width:10%;
  opacity: 0.9;
}

.intro
{
  width: 100vw;
  height: 6vh;

  font-family: quicksand, sans-serif;
  font-size: 90%;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  padding-bottom: 0.5%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.65)
}



.upload
{
  flex:0 0 24%;
}

.choose
{
  flex:0 0 24%;
}

.setup
{
  flex:0 0 24%;
}

.delivery
{
  flex:0 0 24%;
}


.processicon
{

}






/*Css*/

/*show and hide*/

.show
{
  display: block
}

.hide
{
  display: none;
}

.displayhover
{
  opacity: 1;
}










/*js*/
