
*
{
  box-sizing: border-box;
}



/* Start here */


.slider-holder
      {
          width: 100vw;
          height: auto;
          text-align: center;
          overflow: hidden;
          position: relative;
      }

      .image-holder
      {
          width: 400vw;
          height: auto;
          clear: both;
          position: relative;
          -webkit-transition: left 2s;
          -moz-transition: left 2s;
          -o-transition: left 2s;
          transition: left 2s;
      }

      .slider-image
      {
          float: left;
          margin: 0px;
          padding: 0px;
          position: relative;
      }

      #slider-image-1:target ~ .image-holder
      {
          left: 0px;
      }

      #slider-image-2:target ~ .image-holder
      {
          left: -100vw;
      }

      #slider-image-3:target ~ .image-holder
      {
          left: -200vw;
      }

      #slider-image-4:target ~ .image-holder
      {
          left: -300vw;
      }

      .button-holder
      {
          position: relative;
          top: -4vh;
      }

      .slider-change
      {
          display: inline-block;
          height: 10px;
          width: 10px;
          border-radius: 5px;
          background-color: rgba(0, 0, 0, 0.2);
      }

.image-holder img
{
  max-width: 25%;
}






















/*Css*/
